<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <link href="/css/bundle.css" rel="stylesheet" type="text/css">
</head>
<body>
    welcome
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
