<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/css/bundle.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
